html, body {
    background-color: rgb(14, 141, 33);
    color: rgb(225, 234, 97);
}
p{
    color: aqua;
}
h1,h2 {
    text-align: center;
    font-style: italic;
}

.container{
    text-align: center;
}
.home-image{
width: 50%;
}
